* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(130.02deg, #628E75 0.66%, #1A4855 83.32%);
    background-repeat: no-repeat;
    min-height: 100vh;
}

/* Header */
.container-header {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;
}

.menu-navegacao ul {
    display: flex;
    list-style: none;
    gap: 35px;
}

/* Main */
.container-main {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-conteudo {
    
}

.container-conteudo-nome {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #F9F9F9;
    margin-bottom: 14px;
}

.container-conteudo-titulo {
    font-weight: 900;
    font-size: 68px;
    line-height: 74.12px;
    color: #F9F9F9;
    margin-bottom: 25px;
}

.container-conteudo-texto {
    font-weight: 400;
    font-size: 16px;
    line-height: 28.8px;
    color: #F9F9F9;
    margin-bottom: 46px;
}

.container-conteudo-botoes {
    
}

.container-conteudo-botoes a {
    text-decoration: none;
    padding: 16px 40px;
    border: 4px solid #658e76;
    color: #F9F9F9;
    border-radius: 10px;
}

.container-conteudo-botoes-assistir-agora {
    background-color: #658E76;
}