.container {
    background: #B91C1C;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 74px;
}

.container__sub {
    
}

.container__informacoes {
    display: flex;
    align-items: center;
    gap: 16px;
}

.container__informacoes img {
    border: 1px solid #FFF;
    border-radius: 32px;
    background: #FFF;
    padding: 3px;
    margin-bottom: 18px;
}

.container__informacoes__endereco {
    color: #F3F4F6;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.container__informacoes__cidade {
    color: #FFF;
    font-family: 'Mukta', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.container__informacoes__telefone {
    color: #FFF;
    font-family: 'Mukta', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.container__informacoes__email {
    color: #FFF;
    font-family: 'Mukta', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.sobre {

}

.sobre__titulo {
    color: #FFF;
    font-family: 'Mukta', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 8px;
}

.sobre__texto {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    margin-bottom: 24px;
}

.sobre__icones {
    display: flex;
    gap: 24px;
}

.sobre__icones img {
    border: 1px solid #FFF;
    border-radius: 32px;
    padding: 3px;
    background: #FFF;
}

.direitos__reservados {
    background: #B91C1C;
    text-align: center;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 24px;
}